.tile-info {
    margin: 16px;
    background-color: #f3e8e8;
    border-radius: 10px;
    box-shadow: 0 0, 0 5px 5px lightgray;
}

.tile-info-icon {
    max-height: 20px;
    max-width: 20px;
    box-shadow: none;
    margin: 10px;
}

.tile-info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.tile-info p {
    margin: 0 12px 12px 12px;
}

.tile-info h3 {
}


